@import 'highlight.js/styles/github-dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #app {
    min-height: 100%;
  }

  body {
    background: radial-gradient(circle at top, rgba(219, 171, 93, 0.12), transparent 55%), linear-gradient(to bottom, #00132f, #00091c);
    color: #f3f4f6;
  }
}
